@import url('http://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#1d211e;
    font-size: 22px; 
    color:#fff;
}

.main-nav{
    display:inline-block;
}

ul li {
  
    padding:16px;
}

nav {
    background: #e67c1f; 

}

a{
    text-decoration: none;
    color:#fff;
    text-transform: capitalize;
}

nav ul ul {
    display:none;
    position: absolute;
    margin-top: 40px;
    margin-left: -145px;

}

nav ul li:hover > ul{
    display: inline-block;
    background: #e67c1f; 
    list-style: none;
   
   
}

nav ul li:hover > ul li:hover{
    background: #000;
}


.second-drop-down{
    margin-left:23px;
    margin-top: -12px;
}

nav ul ul, ul.second-drop-down{
    width:150px;
    text-align: center;
}

.middle-drop-down {
    margin-left:10px;
}
