*{
margin:0;
padding:0;
}

.right, .left, .center{
    background-color: #6495ED;
    text-align:center;
    width:120px;
    border-radius: 4px;
    padding:20px;
    margin:10px;
}

.right{
    float:right;
}

.left{
    float:left;
}

.center{
    margin:auto;
}

main {
width: 500px;
}

.first{
    float:right;
}

.relative{
    position: relative;
    border:3px solid red;
}

.absolute{
    position: absolute;
    top:100px;
    left:0;
   border:3px solid green;
}

p{
    margin:10px;
}